$dark-blue: #0b2739;
$gray: #747579;
$mid-gray: #8c8c8c;
$light-gray: #f7f7f7;
$very-light-gray: #ededed;
$bright-purple: #bf40bf;
$purple: #800080;
$blue: #019df4;
$pink: #de3163;
$light-pink: #ffa6c9;
$yellow: #ffc000;

$primary-color: $dark-blue;
$title-color: rgba(black, 0.8);
