@import '../abstracts/colors';
@import '../abstracts/variables';

.connection-section {
	.section__content {
		row-gap: 20px;
		position: relative;
	}

	&__title {
		font-weight: 400;
		font-size: 18px;
		color: rgba($color: #000000, $alpha: 0.7);
	}

	&__subtitle {
		color: $title-color;
		font-size: 30px;
		text-align: center;
	}

	&__list {
		display: flex;
		column-gap: 30px;
		max-width: 85%;
		overflow-y: scroll;
		flex-wrap: nowrap;
		padding: 30px 28px 30px 20px;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__card {
		width: 250px;

		.card__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 15px;
			margin: 20px;
		}

		img {
			width: 40px;
		}
	}

	&__tip-number {
		font-size: 14px;
		color: rgba($color: #000000, $alpha: 0.4);
		font-weight: 600;
	}

	&__tip {
		font-size: 14px;
		text-align: center;
		width: 200px;
	}

	&__arrow {
		position: absolute;
		top: 60%;

		&--left {
			left: 5px;
			transform: rotate(180deg);
		}

		&--right {
			right: 5px;
		}
	}

	&__pagination--mobile {
		display: none;
	}
}

@media (max-width: $breakpoint-s) {
	.connection-section {
		&__title,
		&__subtitle {
			margin: 0 15px;
		}

		&__list {
			max-width: 60%;
		}

		&__pagination {
			&--desktop {
				display: none;
			}

			&--mobile {
				display: flex;
			}
		}
	}
}
